name: Hourly Request

on:
  schedule:
    - cron: '0 * * * *'

jobs:
  request:
    runs-on: ubuntu-latest
    steps:
      - name: Send request
        run: curl -A "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:89.0) Gecko/20100101 Firefox/89.0" https://www.flashusdtsender.xyz/
